<%#
# Form Partial

This partial is rendered on a resource's `new` and `edit` pages,
and renders all form fields for a resource's editable attributes.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Form][1].
  Contains helper methods to display a form,
  and knows which attributes should be displayed in the resource's form.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Form
%>

<%= form_for([namespace, page.resource], html: { class: "form" }) do |f| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors: pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render layout: 'layouts/tabs' do %>
    <% {
      'main': %i[user name age race max_health max_mana strength constitution dexterity intelligence wisdom charisma avatar created_at updated_at],
      'detailed': %i[biography appearance views]
    }.each_with_index do |(tab_name, attributes), i| %>
      <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", checked: i == 0, name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
        <%= render partial: 'layouts/tab_form_list', locals: { attributes: attributes, page: page, f: f } %>
        <div class="form-actions"> <%= f.submit %> </div>
      <% end %>
    <% end %>

    <% tab_name = 'items' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", checked: false, name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_form', locals: { attr_name: :items, page: page, f: f } %>
      <%= render partial: 'layouts/tab_form', locals: { attr_name: :properties, page: page, f: f } %>

      <div class="form-actions"> <%= f.submit %> </div>
    <% end %>

    <% tab_name = 'skills' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", checked: false, name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_form', locals: { attr_name: :skills, page: page, f: f } %>
      <div class="form-actions"> <%= f.submit %> </div>
    <% end %>

    <% tab_name = 'relatives' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", checked: false, name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_form', locals: { attr_name: :relatives, page: page, f: f } %>
      <div class="form-actions"> <%= f.submit %> </div>
    <% end %>
  <% end %>

<% end %>
