<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { t("administrate.actions.show_resource", name: page.page_title) } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if accessible_action?(page.resource, :edit) %>

    <%= link_to(
      t("administrate.actions.destroy"),
      [namespace, page.resource],
      class: "button button--danger",
      method: :delete,
      data: { confirm: t("administrate.actions.confirm") }
    ) if accessible_action?(page.resource, :destroy) %>
  </div>
</header>

<section class="main-content__body">
  <%= render layout: 'layouts/tabs' do %>
    <% tab_name = 'main' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", checked: true, name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_list', locals: {  page: page, attributes: %i[user name age race max_health max_mana avatar professions created_at updated_at] } %>
      <%= render partial: 'layouts/tab_stats', locals: { page: page } %>
    <% end %>

    <% tab_name = 'detailed' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_list', locals: { attributes: %i[biography appearance views], page: page } %>
    <% end %>

    <% tab_name = 'items' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_special', locals: { attr_name: :items, page: page } %>
      <%= render partial: 'layouts/tab_special', locals: { attr_name: :properties, page: page } %>
    <% end %>

    <% tab_name = 'skills' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_special', locals: { attr_name: :skills, page: page } %>
    <% end %>

    <% tab_name = 'relatives' %>
    <%= render layout: 'layouts/tab', locals: { id: "#{tab_name}_tab", name: I18n.t("tabs.#{tab_name}"), radio_name: 'radio_name' } do %>
      <%= render partial: 'layouts/tab_special', locals: { attr_name: :relatives, page: page } %>
    <% end %>

  <% end %>
</section>
