<div class="tab">
  <input type="radio" name="<%= radio_name %>" id="<%= id %>" <%= "checked" if (defined? checked) && checked %> class="tab-switch">
  <label for="<%= id %>" class="tab-label"><%= name %></label>
  <div class="tab-content">
    <%= yield %>
  </div>
</div>
